<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IJokeServiceWCF" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62644/JokeServiceWCF.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJokeServiceWCF"
                contract="JokeServiceWCF.IJokeServiceWCF" name="BasicHttpBinding_IJokeServiceWCF" />
        </client>
    </system.serviceModel>
</configuration>